:root{

    /* Colors Variables */
    --darkblue:#0a1e31;
    --white:#FFF;

    /* Font Variables */
    --font-family:'Aclonica', sans-serif;

}

html{
     cursor: url('img/cursor.ico'), default;
}

body{
    background-image:url("img/background.png");
    padding:10px;
    font-family: 'Aclonica', sans-serif;
    overflow:hidden;
}


/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #4c8386; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3b5967; 
}

hr{
    width:70%;
}

.red{
    color:red !important;
}

.green{
    color:lime !important;
}

#images{
    height: 95px;
    position: fixed;
    display: block;
    margin: 0 auto;
    width: 99%;
    left: 0;
    right: 0;
    background-color: #0a1e31;
}

input[type="text"],
input[type="email"]{
    text-align: center;
    width: 250px;
    height: 50px;
    background-color: transparent;
    color: #FFF;
    font-weight: bold;
    border: 1px dotted gray;
    border-radius: 5px;
    font-size: 1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: url('img/cursor.ico'), default;
    box-shadow: 0px 0px 45px #416a70;
    border-radius: 15px;
    padding: 5px;
    outline:none;
    font-family: 'Aclonica', sans-serif;
}

input[type="submit"]{
    background: rgba(0,0,0,0.2);
    border: none;
    color: #FFF;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 auto;
    display: flex;
    outline: none;
    border-radius: 15px;
    font-family: 'Aclonica', sans-serif;
}

.animals{
    color:#FFF;
    padding:10px;
    border-radius:15px;
    outline:none;
    font-size:18px;
    border:none;
    margin-top:175px;
    margin:0 auto;
    float:left;
    display:block;
    position: relative;  
    transition: all .15s ease-in-out;
    width:70px;
    box-shadow:1px 1px 10px #060a1b;
}

.animals:hover{
    transform: scale(1.15);
}

.container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 175px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 75px;
    background-color: #0a1e31;
}

#example{
    width:100%;
    top:100px;
    min-height:50px;
    position: relative;
    margin:0 auto;
    display:block;
   background-color:#0a1e31;
    padding-bottom:20px;
    font-size:30px;
    color:#FFF;
    text-align:center;
    background-color:#0a1e31;
    line-height: 60px;
    white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;  
}

.info-section{
    display: block;
    position: relative;
    margin-top: 5%;
    color: #FFF;
    background-color: rgba(14, 19, 38, 0.8);
    border-radius: 10px;
    width: 60%;
    padding: 10px;
    font-size: 0.6em;
}

.price-section{
   display: block;
    position: relative;
    color: #FFF;
    background-color: rgba(14, 19, 38, 0.8);
    border-radius: 10px;
    width: 530px;
    padding: 10px;
    font-size: 1em;
    margin: 0 auto;
    top: 100px;
    text-align: center;
}

.choice-section{
    display: block;
    position: relative;
    color: #FFF;
    background-color: rgba(14, 19, 38, 0.8);
    border-radius: 10px;
    width: 35%;
    padding: 5px;
    font-size: 0.8em;
    margin-top:10%;
}

.winner-text{
    display:none;
    text-align:center;
    font-weight:bold;
    color:#FFF;
}

.start-text{
    text-align: center;
    font-weight: bold;
    color: #FFF;
    position: relative;
    transition: all 0.1s ease-in-out;
    font-size: 3em;
}

.back-link{
    text-align: center;
    font-weight: bold;
    color: #FFF;
    position: relative;
    transition: all 0.1s ease-in-out;
    width: 25%;
    font-size: 3em;
    top: 200px;
}

.start-text:hover,
.back-link:hover{
    transform:scale(1.1);
    color:#b2fffc;
}

.winner-img{
    display:none;
}


.box{
display:block;
position:relative;
width:50px;
height:50px;
float:left;
margin:2.5px;
padding:10px;
color:#FFF;
text-align: center;
}

.crab{
    background-image:url("img/crab.svg");
}

.cat{
    background-image:url("img/cat.svg");
}

.fish{
    background-image:url("img/whale.svg");
}

.fox{
    background-image:url("img/fox.svg");
}

#clearWindow{
    float:right;
}

#helpUser{
    float:right;
}

#explode{
    float:right;
}

#time{
    color: #FFF;
    font-weight: bold;
    position: fixed;
    left: 21%;
    font-size: 4em;
    top:30px;
    left:50%;
}


#offline-msg{
    position: fixed;
    width: 100%;
    background: rgb(15, 23, 42);
    bottom: 0;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #FFF;
    font-size: 1.2em;
    left: 0;
    height: 35px;
    line-height: 2.2;
    box-shadow: 0px 25px 50px #0f172a;
}

.restart-button{
    background: rgba(0,0,0,0.2);
    border: none;
    color: #FFF;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    margin: 0 auto;
    display: flex;
    outline: none;
}

.gameover-text{
    text-align:center;font-weight:bold;font-size:3em;color:#FFF;
}

#gameover-window{
    display:none;
}

table {
    position:relative;
    top:50px;
    margin: 0 auto;
    cursor:default;
}

tbody{
     height: 285px;      
    overflow-y: auto;    
    overflow-x: hidden; 
}

thead, tbody { display: inline-block; }

td, th {
  text-align: center;
    padding: 15px;
    color: #FFF;
    box-shadow: 1px 1px 50px #487578;
}

th{
    font-size:2.2em;
    height: 70px;
    padding: 20px;
}

tr{
     height: 40px;
}

tr:nth-child(even) {
    background-color: #0f3c5b;
}
tr:nth-child(odd) {
    background-color: #0f3c5b;
}


table tr:first-child {
   background:#0f3c5b;
}

table tr:nth-child(2)
{
    background-color:#009688;
    font-size:1.6em;
    height: 60px;
}

table tr:nth-child(3)
{
    background-color:#009688;
    font-size:1.4em;
    height: 50px;
}

table tr:nth-child(4)
{
    background-color:#009688;
    font-size:1.2em;
     height: 45px;
}

a{
    width: 100%;
    text-align: center;
    margin-left: 45%;
    color: #FFF;
    text-decoration: none;
    font-size: 2em;
}

.score-col{
    width: 25%;
    padding: 20px;
}

.rotate{
    transform: rotate(360deg);
    transition:transform 1s ease-in-out;
}

.scaleOut{
    transform: scale(0.3) rotate(360deg);
    transition:transform 1s ease-out;
}


@media screen and (max-width: 600px) {
   
    .start-text {
        font-size:2em;
        width:100%;
    }
    
    table{
        top:10px;
    }
    
    tbody{
        width:330px;
        height:235px;
    }
    
    td,th{
        padding:0;
    }
    
    th{
        font-size:1.6em;
    }
    
    a{
        margin-left:40%;
    }
    
    .back-link{
        font-size:1.4em;
    }
    
    table tr:nth-child(2){
        font-size:1.4em;
    }
     table tr:nth-child(3){
        font-size:1.2em;
    }
     table tr:nth-child(4){
        font-size:1em;
    }
    
    .animals{
        width:40px;
        height:40px;
    }
    
    #images{
        height:120px;
    }
    
    #time{
    top: 110px;
    left: 45%;
    font-size: 1.4em;
}
    
    .box{
        width:30px;
        height:30px;
    }
    
    #example{
        width:100%;
        padding-bottom:0;
        line-height:30px;
        min-height:30px;
        font-size:1.2em;
    }
    
    .container{
        min-height:60px;
    }
    
    .choice-section{
        width: 75%;
    }
    
    .info-section{
        width:95%;
        font-size:0.4em;
    }
    
    .price-section{
        top:20px;
        width:310px;
        font-size:0.8em;
    }
    
    .back-link{
        top: 5px;
    }
    
    hr{
        width:90%;
    }
   
}